<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base::head}"></head>
<body>

<div th:replace="~{base::logo}"></div>
<!--<div th:replace="~{base::nave}"></div>-->
<div class="container">
    <div class="card mt-3">

        <form th:action="@{/user/novo}" th:object="${videoForm}" class="card-body" method="post">
            <div class="form-group">
                <label for="titulo">Tittle</label>
                <input th:field="*{titulo}" th:errorclass="is-invalid" class="form-control"
                       placeholder="Tittle"/>
            </div>

            <div class="form-group">
                <label for="descricao">Synopsis</label>
                <input th:field="*{descricao}" th:errorclass="is-invalid" class="form-control"
                       placeholder="descricao"/>
            </div>

            <div class="form-group">
                <label for="url">Url</label>
                <input th:field="*{url}" th:errorclass="is-invalid" class="form-control"
                       placeholder="Url"/>
            </div>

            <div class="form-group">
                <label for="url">Category</label>
                <div class="dropdown mt-1">
                    <select class="btn btn-info btn-sm dropdown-toggle" th:field="*{nomeCategoria}">
                        <option th:value="'LIVRE'" th:text="'LIVRE'"></option>
                        <option th:value="'Pancadaria Franca'" th:text="'Pancadaria Franca'"></option>
                        <option th:value="'Putas Feias'" th:text="'Putas Feias'"></option>
                        <option th:value="'Perdido Igual Cego Em Tiroteiro'"
                                th:text="'Perdido Igual Cego Em Tiroteiro'"></option>
                        <option th:value="'Burro Master'" th:text="'Burro Master'"></option>
                        <option th:value="'TESTANDO'" th:text="'TESTANDO'"></option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>